<!-- 스타일 시작 -->
<!--{? categoryInfo == 'style' || categoryInfo == 'TOTAL'}-->
<!--{? reviewResultCnt > 0}-->
<div class="section style_list">
	<div class="section_title">
		<h2>스타일</h2>
		<!--{? categoryInfo == "style"}-->
		<p class="section_tit_desc">({pageNum}-{styleLastPage} / 총 {styleResultFormatCnt}건)</p>
		<!-- 정렬 -->
		<span class="search_order">
			<!--{? sort == "d"}-->
			<a href="javascript:goSort('r');" class="order01">
			<img src="images/search/order01_or.gif" alt="정확도 높은 순"></a>
			<a href="javascript:goSort('d');" class="order02">
			<img src="images/search/order02_on.gif" alt="최근 작성된 순"></a>
			<!--{:}-->
			<a href="javascript:goSort('r');" class="order01">
			<img src="images/search/order01_on.gif" alt="정확도 높은 순"></a>
			<a href="javascript:goSort('d');" class="order02">
			<img src="images/search/order02_or.gif" alt="최근 작성된 순"></a>
			
			<!--{/}-->
		</span>
		<!-- //정렬 -->
		<!--{:}-->
		<p class="section_tit_desc">(<strong>{keyword}</strong>으로 1,112건의 컨텐츠가 검색 되었습니다.)</p>
		<!--{/}-->
	</div>
	<ul class="search_list">
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
		<li>
			<div class="thumnail"><a href="#"><img src="http://file.revu.co.kr/review/2012/05/12/4fadef933f19c_110.jpg" alt="제목"></a></div>
			<dl>
				<dt><a href="#">2만원으로 풍성했던 크리스마스데이트</a></dt>
				<dd class="desc_txt"><strong>크리스마스</strong>이브날.나름 평소에 아껴두었던 비상금을 지갑에 넣일산라페스타거리로 나가봤습니다.뭐먹을래? 먹고싶은것 있으면 말해.확 쏜다~!!음...저쪽으로 가면 고 아내와 함께 스시집있는데 거기가고싶어~응..그럼 스시집으로 고고~그런데 스시집쪽으로 이동하던..</dd>
				<dd class="tag_info">
					<span class="info">Trend Now</span>
					<span class="info">2011.07.04 </span>
					<span class="tag_ico">tag</span>
					<span class="tag_link"><a href="#">비비드</a>, <a href="#">봄</a>, <a href="#">크리스마스</a>, <a href="#">눈</a></span>
				</dd>
			</dl>
		</li>
	</ul>
	<!--{? categoryInfo == 'style'}-->
        <div class="paging">
        <script>
                document.write(pageNav("gotoPage",{pageNum},{pageSize},{styleResultCnt}));
        </script>
        </div>
        <!--{/}-->
	<!--{? categoryInfo == 'TOTAL'}-->
	<div class="search_more"><a href="javascript:goCategory('style');">결과 더보기</a></div>
	<!--{/}-->
</div>
<hr>
<!--{/}-->
<!--{/}-->
<!-- 스타일 끝 -->
