<div class="footer_wrap">
	<ul class="info_link">
		<li><a href="http://company.wizwid.com/" target="_blank"><img src="http://www.revu.co.kr/images/include/footer/footer_info1.gif" alt="회사소개" title="회사소개"></a></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info3.gif" alt="광고및제휴안내" title="광고및제휴안내" onClick="common.redirect('/frontier/alliance');" class="btn"></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info4.gif" alt="이용약관" title="이용약관" onClick="common.redirect('/info/agree')" class="btn"></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info5.gif" alt="개인정보취급방침" title="개인정보취급방침" onClick="common.redirect('/info/privacy')" class="btn"></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info6.gif" alt="레뷰도움말" title="레뷰도움말" onClick="common.redirect('/info/help')" class="btn"></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info7.gif" alt="OPENAPI" title="OPENAPI" onClick="common.dialog('준비중', '준비중입니다.');" class="btn"></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info8.gif" alt="채용정보" title="채용정보" onClick="common.dialog('채용정보', '현재 채용중이 아닙니다.');" class="btn"></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info8_1.gif" alt="파워블로거모집" title="파워블로거모집" onClick="common.redirect('/info/powerblog');" class="btn"></li>
		<li><a href="http://blog.revu.co.kr" target="_blank"><img src="http://www.revu.co.kr/images/include/footer/footer_info9.gif" alt="공식블로그" title="공식블로그" align="left"></a></li>
		<li><img src="http://www.revu.co.kr/images/include/footer/footer_info10.gif" alt="위젯" title="위젯" onClick="common.dialog('준비중', '준비중입니다.');" class="btn"></li>
		<li><a href="http://blog.revu.co.kr/1176" target="_blank"><img src="http://www.revu.co.kr/images/include/footer/footer_info11.gif" alt="배너" title="배너" align="left"></a></li>
	</ul>
</div>

<div class="company_info">
	<div class="company_info_wrap">
		<h1><img src="http://www.revu.co.kr/images/include/footer/footer_logo.gif"></h1>
		<address><img src="http://www.revu.co.kr/images/include/footer/footer_info.gif" alt=""></address>
		<span><a href="mailto:revu@revu.co.kr" onFocus="this.blur()"><img src="http://www.revu.co.kr/images/include/footer/footer_mail.gif" alt="대표메일" title="대표메일"></a></span>
	</div>
</div>