<!-- login_box -->
			<form name="loginForm" id="loginForm">
				<fieldset class="login">
				<legend>로그인</legend>
				<div class="login_box">
				<ul>
				<li style="height:31px;"><img src="http://www.revu.co.kr/images/join/title_login.gif" /></li>
				<li style="height:10px;"></li>
				<li style="height:19px;">			
					<img src="http://www.revu.co.kr/images/join/title_snsin.gif" /><img src="http://www.revu.co.kr/images/join/title_twitterin.gif" id="twitterBtn" alt="트위터" title="트위터" class="btn" /><img src="http://www.revu.co.kr/images/join/title_facebookin.gif" id="facebookBtn" alt="페이스북" title="페이스북" class="btn" />					
				</li>
				<li style="height:17px; background:url(http://www.revu.co.kr/images/common/bg/line_log17.gif) repeat-x;"></li>
				<li class="login_input">
					<div class="login_input_line">
						<ul>
							<li style="padding:6px 0 3px 37px;">
								<input type="text" class="input_trans" name="login_userid" id="login_userid" value="" style="background:url(http://revu.co.kr/images/common/bg_login_id.gif) no-repeat;">
							</li>
							<li style="padding:10px 0 3px 37px;">
								<input type="password" class="input_trans" name="login_passwd" id="login_passwd" value="" style="background: url(http://revu.co.kr/images/common/bg_login_pw.gif) no-repeat; ">
							</li>
						</ul>
					</div>
					<div class="login_but">
						<a href="#"><img src="http://revu.co.kr/images/common/but/but_login.gif" id="loginBtn" alt="로그인" title="로그인"></a>
					</div>
				</li>
				<li class="clear"></li>
				<li style="height:15px; background:url(http://www.revu.co.kr/images/common/bg/line_log15.gif) repeat-x;"></li>
				<li style="height:29px;">
					<img src="http://www.revu.co.kr/images/join/title_joinin.gif" id="joinSiteBtn" alt="회원가입" title="회원가입" class="btn" /><img src="http://www.revu.co.kr/images/join/title_idpwin.gif" id="searchInfoBtn" alt="ID/PW찾기" title="ID/PW찾기" class="btn" /><a href="http://blog.revu.co.kr/2137" target="blank"><img src="http://www.revu.co.kr/images/join/title_socialinfo.gif" id="snsInfoBtn" alt="소셜로그인안내" title="소셜로그인안내" class="btn" /></a>
				</li>
				</ul>
				</div>
				</fieldset>
			</form>
			<!-- // login_box -->
			<hr>

